@use '../globals/font';

.users-container{
    height: fit-content;
    width: min(100% - 40px);
    margin-inline: auto;
    background-color: none;
    padding: 50px;

    @media(min-width: 900px){
        display: grid;
        grid-template-rows: auto 1fr;
    }

    h2{
        color: hsl(220,48%,35%);
    }

    .users-summary{
        width: min(100%, 900px);
        height: fit-content;
        // background-color: red;
        margin-top: 30px;
        margin-bottom: 50px;
        margin-inline: auto;
        padding-inline: 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        justify-items: center;
        gap: 20px;

        @media(min-width: 900px){
        }
    }

    .user-info-category,
    .user-list-container{
        width: min(100%, 900px);
        min-height: 70px;
        height: fit-content;
        background-color: white;
        color: hsl(220,48%,35%);
        font-size: 0.8rem;
        padding-inline: 30px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        justify-items: start;
        align-items: center;
        gap: 10px;
        

        @media(min-width: 900px){
            grid-template-columns: repeat(6, 1fr);
        }
    }

    .user-info-category{
        font-family: font.$fontBold;
        // background-color: green;

        .filter{
            display: block;

            @media(min-width: 500px){
                display: none;
            }
        }

        span{
            // background-color: red;
            // width: 100%;
            display: none;

            @media(min-width: 500px){
                display: block;
            }
        }
    }

    .user-list-container{
        border-top: 2px solid rgb(55, 205, 205, 0.05);
        height: fit-content;
        max-width: 900px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 10px;

        .user-list{
            height: fit-content;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            justify-items: center;
            align-items: center;
            align-content: space-between;
            gap: 10px;
            margin: 10px;
            font-weight: bold;
            // border: 1px solid hsl(220,48%,35%);

            @media(min-width: 400px){
                gap: 2px;
            }

            span{
                width: 100%;
                height: 100%;
                text-align: left;
                overflow-wrap: break-word;
                // border: 1px solid hsl(220,48%,35%);

                @media(min-width: 400px){
                    width: 100px;
                }
            }
        }
        

        @media(min-width: 900px){
            grid-template-columns: repeat(6, 1fr) 20px;
        }
    }
}